<!DOCTYPE html> {% load static %}
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <title>Document</title>
</head>

<body>


    <p class="mt-2 p-3 text-center display-2 bg-info font-weight-bold     ">Programa de Placas y Matriculas</p>
    <nav class="navbar navbar-light bg-light">
        <nav class="navbar navbar-dark bg-primary">
            <a class="btn btn-primary" href="{%url 'index' %}">Inicio</a>
            <a class="btn btn-primary" href="{%url 'Listado' %}">Lista de Mascotas</a>
            <a class="btn btn-primary" href="#" role="button">Contacto</a>
        </nav>

        <a> </a>
        <a> </a>
        <a> </a>
        <a> </a>
        <a> </a>
        <a> </a>
        <a> </a>
        <a> </a>
        </a>
    </nav>


    <br> <br>




</body>

</html>