{%extends 'libro/index.html'%} {% load static %} {% block titulo%} Listado de Autores {% endblock titulo%} {% block extra_css %}
<link rel="stylesheet" href="{% static 'css/lib/datatable/dataTables.bootstrap.min.css' %}"> {% endblock extra_css %} {% block body %}

<br/>
<br/> {% if placas%}
<div>
    <td> <button onclick="abrir_modal_creacion('{% url 'libro:crear_autor' %}')" class="btn btn-primary">REGISTRAR DOCUMENTO</button>
        <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <input type="text" class="form-control bg-light border-0 small" placeholder="Buscar..." name="buscar" value="{{ request.POST.buscar }}">
                <div class="input-group-append">
                    <button class="btn btn-primary" type="submit">
                <i class="fas fa-search fa-sm"></i>
              </button>
                </div>
            </div>
        </form>
    </td>
</div>
<table id="tabla_autores" class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">No. Cedula</th>
            <th scope="col">Chasis</th>
            <th scope="col">No. de Placa</th>
            <th scope="col">Compania</th>
            <th scope="col">FechaOrden</th>
            <th scope="col">Endoso</th>
            <th scope="col">Fecha Endoso</th>
            <th scope="col">Estado</th>
            <th scope="col">fecha</th>
            <th scope="col">Fotocopia de la Cedula</th>
            <th scope="col">Comentarios</th>
        </tr>
    </thead>
    <tbody>
        {% for Placa in placas %}
        <tr>
            <td scope="row">{{Placa.id}}</td>
            <td scope="row">{{Placa.nombre}}</td>
            <td scope="row">{{No_cedula}}</td>
            <td scope="row">{{Placa.chasis}}</td>
            <td scope="row">{{Placa.noPlaca}}</td>
            <td scope="row">{{Placa.compania}}</td>
            <td scope="row">{{Placa.fechaOrden}}</td>
            <td scope="row">{{Placa.endoso}}</td>
            <td scope="row">{{Placa.FechaEndoso}}</td>
            <td scope="row">{{Placa.Estado}}</td>
            <td scope="row">{{Placa.fecha}}</td>
            <td scope="row">{{Placa.cedula}}</td>
            <td scope="row">{{Placa.Comentario}}</td>


            <td> <button onclick="abrir_modal_edicion('{% url 'libro:editar_autor' Placa.id %}')" class="btn btn-primary">EDITAR</button>
            </td>
            <td> <button onclick="abrir_modal_eliminar('{% url 'libro:eliminar_autor' Placa.id %}')" class="btn btn-primary">ELIMINAR</button>
            </td>
            <td> <a class="btn btn-danger" href="{%url 'libro:eliminar_autor' Placa.id%}">Eliminar</a></td>

        </tr>
        {%endfor%}

    </tbody>
</table>

{%else%}
<h1>No existen Autores Registrados</h1>
{%endif%}
<div class="modal fade" id="edicion" role="dialog"></div>
<div class="modal fade" id="creacion" role="dialog"></div>
<div class="modal fade" id="eliminar" role="dialog"></div>

{% endblock body %} {% block extrajs %}

<script type="text/javascript">
    function abrir_modal_edicion(url) {
        $('#edicion').load(url, function() {
            $(this).modal('show');
        });
    }
</script>

<script type="text/javascript">
    function abrir_modal_creacion(url) {
        $('#creacion').load(url, function() {
            $(this).modal('show');
        });
    }
</script>

<script type="text/javascript">
    function abrir_modal_eliminar(url) {
        $('#eliminar').load(url, function() {
            $(this).modal('show');
        });
    }
</script>


<script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>


<script src="{% static '/js/bootstrap.min.js' %}"></script>

{% endblock extrajs %}